SDP specification adherance

I played around with https://github.com/AMWA-TV/sdpoker and found that it complains on (at least) two things in the SDP's generated by aes67-linux-daemon:

```Found 2 error(s) in SDP file:
1: SDP file includes one or more multicast destinations but does not include any a=source-filter lines as per RFC 4570 Section 3.
2: Line 14: An example in the first published version of ST2110 suggested 'traceable' was acceptable without preceeding it with 'IEEE1588-2008'. This is not a permitted form in RFC 7273 and has been corrected later versions of ST2110-10.
```

Both are quite easy to fix, by including a `a=source-filter: incl IN` in the SDP with the multicast group and the source IP we're sending from and the other one would just be replacing `a=ts-refclk:ptp=traceable` with `a=ts-refclk:ptp=IEEE1588-2008:traceable`

Might even be interesting to look at integrating sdpoker in the test suite to validate the sdp's generated.

If I add the source filter attribute to the connection I break compatibility with Dante.
For example:
```
a=source-filter: incl IN IP4 239.1.0.1 10.0.0.9
```
With the above additional line Dante doesn't show up anymore a daemon Source in the Routing dialog.

